body{
    font-family: "Montserrat";
    text-align: center;
}
h1,h2,h3{
    font-family: "Montserrat";
    font-weight: bold;
}
#title{
    background-color: #ff4c68;
    color:white;
    text-align: left;
}
/*headings*/
.headings{
    size: 10rem;
    line-height: 1.5;
}
.sectionheading{
    
    line-height: 1.5;
    font-size: 3rem;

}

.container-fluid{
    padding: 1% 15%;
    padding-bottom: 8%;
    
    
}

p{
    color: grey;
}

/*title image*/
.titleimage{
    
    transform: rotate(20deg);
    width: 16%;
    position: absolute;
    right: 30%;
  
    
   
}
/*navigation bar*/
.navbar{
    padding-bottom: 0.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
   
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
    padding-top: 4rem;
    
    
}
.nav-item{
    padding-left: 2rem;
    

}
/*download buttons*/
.download-button{
    margin: 5% 3% 5% 0;

}
/*feature*/
#features{
    padding: 4% 0; 
    padding: 5%;
    background-color: white;
    position: relative;
   

}
.featuretitle{
    font-size: 1.5rem;;
}
.icon{
    color: #ef8172;
    padding-bottom: 5%;
}
 
.icon:hover{
    color:red;
}
/*testimonials*/
#testimonials{
    padding: 3% 15%;
    background-color: #ff4c68;
    color: white;
}
.testimonial-text{
    line-height: 1.5;
    font-size: 3rem;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

/* press section*/
#press{
    background-color: #ff4c68;
    padding-bottom: 3%;
}
.pressimage{
    width: 15%;
    padding: 20px 20px 50px;
}
/*carousel items*/
.carousel-item{
    padding: 3% 15%;
}
.card{
    height: 100%;

}
/*pricing*/
#pricing{
    padding: 3% 15%;
}

.pricing-para{
    padding-bottom: 2rem;
}
/*call to action*/
#cta{
    background-color: #ff4c68;
    color: white;
    padding: 3% 15%;
    
}
.ctapara{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
}
/*footer*/
#footer{
    padding: 3% 15%;
    
}
.foot:hover{
    color:#ef8172
}
.foot{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .titleimage{
    
        transform: rotate(0deg);
        width: 100%;
        position: static;
        
    }    
}